.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url("../img/bg.jpg") center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
        
    }
    &__header {
        color: #FFF;
        text-align: right;
        font-family: MuseoModerno;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subheader {
        color: #FFF;
        text-align: right;
        font-family: MuseoModerno;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__icons {
        width: 424px;
        height: 96px;
        display: flex;
        justify-content: space-around;
    }
    &__icon {
        width: 108px;
        // height: 46px;
        color: #FFF;
        text-align: center;
        font-family: MuseoModerno;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
            width: 42px;
        }
    }
    &_link {
        margin-top: 18px;
        color: #FFF;
        text-align: right;
        font-family: MuseoModerno;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        
        a {
            text-decoration: underline;
            color: #fff;
            text-transform: uppercase;
        }
        
    }
}
